<%- include("partials/header") %>

<h2>Create Task</h2>

<form method="POST" action="/tasks" class="card p-4 shadow-sm">

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" name="description" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Status</label>
    <input type="text" name="status" class="form-control" required>
  </div>

  <button class="btn btn-success">Create Task</button>

</form>

<%- include("partials/footer") %>